{
  "extends": "airbnb-base",
  "rules": {
    "no-use-before-define": [
      "error", {
        "functions": false
      }
    ],
    "indent": ["error", 4],
    "linebreak-style": 0
  },
  "env": {
    "browser": true
  }
}
